In [3]:
import pandas as pd

**데이터 불러오기**

In [4]:
df = pd.read_csv('P:/new/new_all_data.csv')

In [5]:
df.columns

Index(['partition_dt', 'prod_id', 'prchs_id', 'insd_usermbr_no',
       'cust_payment_amt', 'sett_target_cpn_amt', 'prchs_tm_clsf_nm',
       'sex_clsf_cd', 'age_cd', 'mno_cd', 'category_nm', 'dtl_category_nm',
       'prod_amt'],
      dtype='object')

In [7]:
df.shape

(40131396, 13)

**구매방식에 따라 중복으로 기록된 레코드 예**

In [26]:
test= df[df['prchs_id'] == '20020113412620311081']

In [27]:
test[['partition_dt','prod_id','prchs_id','cust_payment_amt','sett_target_cpn_amt','prod_amt','dtl_category_nm']]

,partition_dt,prod_id,prchs_id,cust_payment_amt,sett_target_cpn_amt,prod_amt,dtl_category_nm
15,20200201,H038835484,20020113412620311081,0,800,2700,로맨스
16,20200201,H038835484,20020113412620311081,1630,0,2700,로맨스
17,20200201,H038835484,20020113412620311081,0,270,2700,로맨스

In [6]:
#거래 방식 수를 세기위한 피쳐 추가
df['pay_mtd_cnt'] = df['sett_target_cpn_amt']

In [10]:
df_grby = df.groupby(['prchs_id','prod_id','partition_dt','insd_usermbr_no','prod_amt','sex_clsf_cd','age_cd', 'category_nm','dtl_category_nm','prchs_tm_clsf_nm','mno_cd'])

In [11]:
#그룹바이 함수 지정
agg_format = {
    'cust_payment_amt':'sum',  #가격의 합
    'sett_target_cpn_amt':'sum', # 쿠폰가격의 합
    'pay_mtd_cnt':'count'
}

In [ ]:
df_result= df_grby.agg(agg_format)

In [14]:
df_result = df_result.reset_index()

In [18]:
df_result

,prchs_id,prod_id,partition_dt,insd_usermbr_no,prod_amt,sex_clsf_cd,age_cd,category_nm,dtl_category_nm,prchs_tm_clsf_nm,mno_cd,cust_payment_amt,sett_target_cpn_amt,pay_mtd_cnt
0,20013123592010721507,H018480692,20200201,IF1423177586220101006224941,3600,F,042,eBook,로맨스,00 ~ 01,US001201,3240,360,3
1,20013123593010931584,H038835416,20200201,US2018070914480184346187029,900,M,037,eBook,무협,00 ~ 01,US001201,810,90,2
2,20013123593510331626,H031234584,20200201,US2018092811402674047654410,900,Z,ZZZ,eBook,판타지,00 ~ 01,US001201,810,90,2
3,20013123595120417183,H038724908,20200201,US2018033113065860244558735,3150,F,051,eBook,로맨스,00 ~ 01,US001202,3150,0,1
4,20013123595221217187,H035730852,20200201,US2019112415415699154280728,200,F,043,웹툰,순정,00 ~ 01,US001202,180,20,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34246915,20073123595710341883,H036432165,20200731,IW1425165373520130326161430,900,M,055,eBook,무협,23 ~ 24,US001201,0,900,1
34246916,20073123595711341887,H039065277,20200731,US2018021812545532143805173,100,F,044,eBook,로맨스,23 ~ 24,US001201,100,0,1
34246917,20073123595711521890,H039535654,20200731,IW1426246252320131022221027,300,F,049,웹툰,BL,23 ~ 24,US001201,0,300,1
34246918,20073123595810242233,H039578892,20200731,IF1423206725420101129205051,100,F,037,eBook,판타지,23 ~ 24,US001201,0,0,1
34246919,20073123595911121897,H039587904,20200731,US2016081302143323229017556,100,M,061,eBook,판타지,23 ~ 24,US001201,100,0,1

In [20]:
#파일로 저장
df_result.to_csv('P:/final_prchs_data.csv', index=False)

In [31]:
#제대로 합쳐졌나 확인해보기
test= df_result[df_result['prchs_id'] == '20020113412620311081']

In [32]:
test[['partition_dt','prod_id','prchs_id','cust_payment_amt','sett_target_cpn_amt','prod_amt','dtl_category_nm']]

,partition_dt,prod_id,prchs_id,cust_payment_amt,sett_target_cpn_amt,prod_amt,dtl_category_nm
99309,20200201,H038835484,20020113412620311081,1630,1070,2700,로맨스